/** @format */

:root {
	--main-gap: 20px;
	--main-color: #eee;
	--title-gap: 11px;
	--white: #ffff;
	--dark: #140b0a;
	--border-color: #ff4004;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--main-color);
	display: grid;
	place-items: center center;
	align-content: center;
}

.page_container {
	width: 95%;
	display: grid;
	place-items: center center;
	align-content: center;
}

.page_container h1 {
	margin: var(--main-gap);
}

.page_container .grid_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-template-rows: repeat(4, minmax(200px, auto-fill));
	grid-gap: var(--main-gap);
	margin: var(--main-gap);
}

.page_container .grid_container > div {
	background-color: var(--white);
	padding: var(--main-gap);
	border-bottom: 2px solid var(--border-color);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
}

.page_container .grid_container > :hover {
	border: 1px solid var(--border-color);
	cursor: pointer;
	transform: translate3d(0, -8px, 0);
	box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(0, -8px, 0);
	-moz-transform: translate3d(0, -8px, 0);
	-ms-transform: translate3d(0, -8px, 0);
	-o-transform: translate3d(0, -8px, 0);
}

@media only screen and (min-width: 1200px) {
	.page_container .grid_container .grid_item1 {
		grid-column: 1 / span 2;
		grid-row: 1 / span 1;
	}

	.page_container .grid_container .grid_item2 {
		grid-column: 3 / span 0;
		grid-row: 1 / span 1;
	}

	.page_container .grid_container .grid_item3 {
		grid-column: 3 / span 0;
		grid-row: 1 / span 3;
		background-color: var(--dark);
		color: var(--white);
	}

	.page_container .grid_container .grid_item4 {
		grid-column: 1 / span 0;
		grid-row: 2 / span 2;
	}

	.page_container .grid_container .grid_item5 {
		grid-column: 2 / span 2;
		grid-row: 2 / span 0;
		background-color: var(--dark);
		color: var(--white);
	}

	.page_container .grid_container .grid_item6 {
		grid-column: 2 / span 2;
		grid-row: 2 / span 0;
	}

	.page_container .grid_container .grid_item8 {
		background-color: var(--dark);
		color: var(--white);
	}
}

.page_container .grid_container section .name {
	font-size: 1.5rem;
	font-weight: bold;
}

.page_container .grid_container section .title {
	margin-top: var(--title-gap);
	margin-bottom: var(--title-gap);
	font-size: 1rem;
	color: #8b8581;
}

.page_container .grid_container section .bold_paragraph {
	font-weight: bold;
	margin-bottom: var(--title-gap);
}

.page_container .grid_container section article {
	line-height: 1.6;
}
